<tmpl id="main">
	<div>
		<h1>`Modify Engine Password`</h1>
		{{#unless originalPassword}}
			<div class="subtitle">`Your engine password is not set.`</div>
		{{/unless}}
		<form action="password" method="modify" id="password">
			{{#if originalPassword}}
				<div>
					<label for="originalPassword">`Original Password`</label>
					<input type="password" id="originalPassword" name="originalPassword" required>
				</div>
			{{/if}}
			<div>
				<label for="enginePassword">`New Password`</label>
				<input type="password" id="enginePassword" name="enginePassword" required placeholder="`TOP SECRET!`">
				<input type="password" id="enginePasswordRe" required placeholder="`Retype...`">
			</div>
			<div id="error"></div>
			<input type="submit" id="submit" value="`Modify Password`">
		</form>
	</div>
</tmpl>

<tmpl id="error">
	{{#if pwd}}
		`Original password is not correct.`
	{{else}}
		`Operation failed.`
	{{/if}}
</tmpl>

<tmpl id="timeout">
	`Connection timeout. Please check your network.`
</tmpl>
