<tmpl id="main">
	<div class="home_user">
		<img class="avatar" src="{{avatar}}">
		<div class="avatar_error"></div>
		<div class="avatar_file"><input type="file" accept="image/*"></div>
		<form action="user" method="modify" class="user_info">
			<div class="display_name info">{{displayName}}</div>
			<input type="text" class="display_name" name="displayName" value="{{displayName}}" required>
			<div class="username">{{username}}</div>
			<div class="email"><a href="mailto:{{email}}">{{email}}</a></div>
			{{#if url}}
				<div class="url info">{{url}}</div>
				<input type="text" class="url" name="url" value="{{url}}" placeholder="URL">
			{{else}}
				<div class="url info">`(URL not set)`</div>
				<input type="text" class="url" name="url" placeholder="URL">
			{{/if}}
			<div class="error"></div>
			<input type="submit" class="submit" value="`Update`">
		</form>
		<a href="#" class="modify_password"><div>Modify Password</div></a>
		<form action="user" method="modifyPassword" class="user_password">
			<input type="hidden" name="original">
			<input type="hidden" name="password">
			<input type="password" class="original" required placeholder="Original Password">
			<input type="password" class="new" required placeholder="New Password">
			<input type="password" class="newRe" required placeholder="Retype...">
			<div class="error"></div>
			<input type="submit" class="submit" value="`Modify Password`">
		</form>
	</div>
	<div class="home_main">
		<a fw href="/wp.backstage/post" class="write">`Write New Post`</a>
	</div>
</tmpl>

<tmpl id="login">
	<div class="home_login">
		<div class="sections">
			<div class="section">
				<div class="section_title"><a href="#">`Login`</a></div>
				<form action="user" method="login">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="id" required>
					</div>
					<div class="form_row">
						<label>`Password`</label>
						<input type="hidden" name="password">
						<input type="password" class="password" required>
					</div>
					<div class="form_row">
						<div class="error"></div>
						<input type="submit" class="submit" value="`Login`">
					</div>
				</form>
			</div>
			<div class="section section_folded">
				<div class="section_title"><a href="#">`Register`</a></div>
				<form action="user" method="register">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="id" required>
					</div>
					<div class="form_row">
						<label>`Password`</label>
						<input type="hidden" name="password">
						<input type="password" class="password" required>
					</div>
					<div class="form_row">
						<label>`Password (Re-type)`</label>
						<input type="password" class="passwordRe">
					</div>
					<div class="form_row">
						<label>`Email`</label>
						<input type="email" name="email" required>
					</div>
					<div class="form_row">
						<div class="error"></div>
						<input type="submit" class="submit" value="`register`">
					</div>
				</form>
			</div>
			<div class="section section_folded">
				<div class="section_title section_title_small"><a href="#">`Forgot password?`</a></div>
				<form action="user" method="recoverPassword">
					<div class="form_row">
						<label>`Username`</label>
						<input type="text" name="id" required>
					</div>
					<div class="form_row">
						<label>`Email`</label>
						<input type="email" name="email" required>
					</div>
					<div class="form_row">
						<div class="error"></div>
						<input type="submit" class="submit" value="`Recover Password`">
					</div>
				</form>
			</div>
		</div>
	</div>
</tmpl>

<tmpl id="success">
	<div class="home_login">`Success. Will soon reload this page...`</div>
</tmpl>

<tmpl id="error">
	{{#if system}}`Sorry, an internal server error occurred.`{{/if}}
	{{#if timeout}}`Timed out. Please check your network.`{{/if}}
	{{#if noPermission}}`You are not authorized.`{{/if}}
	{{#if idUsed}}`The username exists. Please choose another one.`{{/if}}
	{{#if idNull}}`The username does not exist.`{{/if}}
	{{#if idIllegal}}`The username should contain 4 to 32 letters, numbers, underlines, and hyphens.`{{/if}}
	{{#if emailIllegal}}`The email address is illegal.`{{/if}}
	{{#if displayNameIllegal}}`The display name is illegal.`{{/if}}
	{{#if urlIllegal}}`The url address is illegal.`{{/if}}
	{{#if pwd}}`The password is wrong.`{{/if}}
</tmpl>