/* Copyright 2014 LastLeaf, LICENSE: github.lastleaf.me/MIT */

body {
    background: #ddd;
}

#header {
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    background: #444;
    line-height: 32px;
    height: 32px;
    padding: 2px 20px;
    box-shadow: 0 0 5px #444;
}
#header img {
    vertical-align: middle;
}
.header_left {
    float: left;
    color: #00d2ff;
    font-weight: bold;
}
.header_right {
    float: right;
    font-size: 14px;
    color: #bbb;
}

#tabs {
    position: fixed;
    z-index: 1000;
    top: 36px;
    left: 0;
    bottom: 0;
    padding: 0.5em 0 0 10px;
    width: 140px;
    height: 9999px;
    background: #444;
    font-weight: bold;
    box-shadow: 0 0 5px #444;
}
.tab_sep {
    height: 0.5em;
}
.tab {
    padding: 0.5em 10px 0.5em 15px;
    margin: 0.5em 0;
    color: #00d2ff;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
}
.tab:hover, .tab:active {
    background: #666;
}
.tab_current {
    color: #444;
    text-shadow: 0 0 0.5px #444;
    background: #ddd;
    margin-right: -6px;
    padding-right: 16px;
    box-shadow: 0 0 4px #ddd;
}
.tab_current:hover, .tab_current:active {
    background: #ddd;
}

#content_wrapper {
    margin: 36px 0 0 150px;
    overflow: auto;
}
#content {
    padding: 20px;
    position: relative;
}
#backstage_busy {
    position: fixed;
    margin: auto;
    top: 46px;;
    bottom: 0;
    left: 180px;
    right: 0;
    width: 256px;
    height: 256px;
}

/* table */
.wp_table {
    width: 100%;
}
.wp_table th, .wp_table td {
    text-align: left;
    min-width: 10%;
    padding: 5px;
}
.wp_table thead tr, .wp_table tfoot tr {
    background: #444;
    box-shadow: 0 0 5px #444;
}
.wp_table thead th, .wp_table tfoot th {
    color: #ddd;
}
.wp_table_row td {
    padding-top: 7px;
    padding-bottom: 1px;
}
.wp_table_extra td {
    padding-top: 1px;
    padding-bottom: 7px;
    color: #666;
    font-size: 0.9em;
}
.wp_table tbody tr:nth-child(4n+1), .wp_table tbody tr:nth-child(4n+2) {
    background: #eee;
}
.wp_table tbody tr:nth-child(odd):hover td, .wp_table tbody tr:nth-child(odd):hover + tr td {
    color: #007387;
    text-shadow: 0 0 1px #00d2ff;
}
.wp_table_navi input {
    background: #bbb;
    color: #000;
    font-weight: bold;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0 5px #bbb;
    vertical-align: baseline;
    font-size: 1em;
    padding: 0.1em 0.5em;
}
.wp_table_navi input:hover, .wp_table_navi input:active {
    background: #00d2ff;
    box-shadow: 0 0 5px #00d2ff;
}
.wp_table_navi .wp_table_page_num {
    background: transparent;
    color: #ddd;
    text-align: right;
    border: 1px solid #666;
    box-shadow: none;
    padding: 0.1em;
}
.wp_table_navi .wp_table_page_num:hover, .wp_table_navi .wp_table_page_num:active {
    background: transparent;
    border: 1px solid #00d2ff;
}
.wp_table_action {
    float: left;
}
.wp_table_page {
    float: right;
}
.wp_table tbody input, .wp_table tbody select, .wp_table tbody textarea {
    font-size: 1em;
    line-height: auto;
    border: 1px solid #888;
    border-radius: 0;
    box-shadow: 0 0 2px #888;
    padding: 2px;
    margin: 0 -3px;
    width: 100%;
    background: transparent;
}
.wp_table .wp_table_edit_btn input {
    background: #444;
    color: #ddd;
    font-weight: bold;
    border: 0 none;
    border-radius: 2px;
    margin: 4px 5px 0 0;
    padding: 0.25em 0.5em;
    box-shadow: 0 0 5px #444;
    font-size: 1em;
    width: auto;
}
.wp_table .wp_table_edit_btn input:hover, .wp_table .wp_table_edit_btn input:active {
    background: #007387;
    box-shadow: 0 0 5px #007387;
}
.wp_table_edit_btn_right {
    float: right;
}