<tmpl id="main">
	<div class="driver_content">
		<textarea id="{{tinymceId}}" name="content">{{content}}</textarea>
	</div>
	<div class="driver_abstract">
		<select class="driver_abstract_enable" name="abstractType" value="{{abstractType}}">
			<option value="auto">`First Paragraph as Abstract`</option>
			<option value="manual">`Manual Abstract`</option>
		</select>
		<textarea class="driver_abstract_manual" name="abstractManual" placeholder="`Abstract...`">{{abstract}}</textarea>
	</div>
</tmpl>